<!-- empty cart : begin -->
<div class="empty-cart">
</div><!-- .empty-cart -->
<!-- empty cart : end -->

<!-- carrinho : begin -->
<section class="lista_assinatura productsSelectBox bg_33b5ee cart fs-navigation-element fs-navigation-push-nav fs-navigation-push-right-nav fs-navigation__0 fs-navigation-enabled fs-navigation-animated fs-navigation-toggle-nav fs-navigation-open" id="cart" style="display: none;">
<section class="cart-view">
    <div class="margin_t_10 margin_l_20 margin_b_40">
        <div class="c_blue"><img alt="" src="{{'ico-car.png'| asset_url }}"> Minha Assinatura</div>
        <div class="close_c">X</div>
        </div>
        <div class="prod_car_list">
            <ul>
            </ul>
    <!--script> 
        var cartItems = [];
    </script>
    {% if cart.item_count > 0 %}
        {% assign desconto = 0 %}
        {% assign _cartItems = "" %}
        {% for line_item in cart.items %}
        <ul>
        <li>
            <div class="bg_fff car_prod_item col-12" data-uniqueid="{{ line_item.id }}" data-uniqueqtd="{{ line_item.quantity }}">
            <div class="row align-items-center">
                <div class="image">
                <img src="{{ line_item.image | img_url:'100x100' }}">
                </div>
                <div class="info">
                <div class="col-md-4 col-12 padding_0">
                    <div class="c_l_blue f14">{{ line_item.product.title }}</div>
                    <div class="f14 normal"></div>
                </div>
                <div class="col-md-8 col-12 m_padding_0 m_left_padding align-self-center">
                    <div class="f14 c_blue preco">De: <span class="sti_d">{{ line_item.variant.compare_at_price | money }}</span></div>
                    <div class="f21 c_l_blue m_line_20"><span class="f14 c_blue">Por: </span> <span class="price">{{ line_item.variant.price | money }}</span></div>
                </div>
                <a href="javascript:void(0);" class="right pull-right pointer remove-cart-item" data-id="{{ line_item.variant_id }}">
                    <img src="{{ 'close.png'| asset_url }}" />
                </a>
                </div>
            </div>
            </div>
        </li>
        </ul>
        {% assign desconto = desconto | plus: line_item.variant.compare_at_price %}
            <script>
            cartItems.push({
                id: '{{ line_item.variant_id }}',
                properties: {
                                    shipping_interval_unit_type: '{{line_item.product.metafields.subscriptions.shipping_interval_unit_type}}',
                                    subscription_id: '{{line_item.product.metafields.subscriptions.subscription_id}}',
                                    shipping_interval_frequency: '{{ line_item.product.metafields.subscriptions.shipping_interval_frequency }}'
                                },
                image: '{{ line_item.image | img_url:"95x95" }}',
                product_title: '{{ line_item.product.title }}',
                variant_title: '{{ line_item.variant.title }}',
                formated_discount: '{{ line_item.variant.compare_at_price | minus: line_item.variant.price | times: 100.0 | divided_by: line_item.variant.compare_at_price | round}}',
                formated_compare: '{{ line_item.variant.compare_at_price }}',
                formated_price: '{{ line_item.variant.price | money }}',
                                price: '{{ line_item.variant.price }}'
            });
            </script>
        {% endfor %}
    {% else %}
        <div class="c_ffffff">
            <div class="col-12 bread_line" style="background-color:#fff;"></div>
            <div class="col-12 message-carrinho text-center">
                <h3 class="text-center">Seu carrinho esta vazio.</h3>
                <p class="text-center padding_t_10 f16">Conheça nossos produtos e monte sua assinatura.</p>
                <a class="btn btn-add-to-cart margin_t_25" href="/collections/cerveja">Ver produtos</a>
            </div>
            <div class="col-12 bread_line" style="background-color:#fff;"></div>
        </div>
    {% endif %}-->
    </div>

        <div class="flex_bottom ">
            <div class="result align_r subtotal">
            <div class="col-12 bread_line"></div>
            <div>
            <span class="f24 final_discount">
                Você economiza <!--{% if cart.item_count > 0 %}{{ desconto | minus: cart.total_price | money }}{%else%}R$ 0,00{% endif %}-->
            </span>
            <span class="normal">  nessa assinatura.</span>
            </div>
            <div class="f24 final_price">Total: <!--{% if cart.item_count > 0 %}{{ cart.total_price | money }}{%else%}R$ 0,00{% endif %}--></div>
            <div class="col-12 bread_line"></div>
        </div>
        <!--button type="button" class="btn right" id="intervaloSelectBtn" {% if cart.item_count == 0 %}disabled{%endif%}>Selecionar intervalo<span class="arr_n"><img class="margin_l_10" alt="" src="{{ 'arr-next.png' | asset_url }}"> </span></button-->
        <button type="button" class="btn right" id="intervaloSelectBtn">Selecionar intervalo<span class="arr_n"><img class="margin_l_10" alt="" src="{{ 'arr-next.png' | asset_url }}"> </span></button>
    </div>
</section>
</section>
<!-- carrinho : begin -->