<div class="clearfix"></div>
<div class="col-xs-12 hidden-xs">
  <div class="slider carousel_slick_banner">
    <div style="background-color:#FEF200;">
      <a href="/collections/all">
        <div id="animation_container_sempre" style="background-color:#FEF200; width:100px; height:100px">
          <canvas id="canvas_sempre" width="100" height="100" style="position: absolute; display: block; background-color:#FEF200;"></canvas>
          <div id="dom_overlay_container_sempre" style="pointer-events:none; overflow:hidden; width:100px; height:100px; position: absolute; left: 0px; top: 0px; display: block;">
          </div>
        </div>
      </a>

    </div>
    <div style="background-color:#00AEEF;">
      <a href="/collections/all">
        <div id="animation_container" style="background-color:#00AEEF; width:100px; height:100px">
          <canvas id="canvas" width="100" height="100" style="position: absolute; display: block; background-color:#00AEEF;"></canvas>
          <div id="dom_overlay_container" style="pointer-events:none; overflow:hidden; width:100px; height:100px; position: absolute; left: 0px; top: 0px; display: block;">
          </div>
        </div>
      </a>

    </div>
    <div style="background-color:#1F396C;">
      <a href="/collections/all">
        <div id="animation_container_cancelar" style="background-color:#1F396C; width:100px; height:100px">
          <canvas id="canvas_cancelar" width="100" height="100" style="position: absolute; display: block; background-color:#1F396C;"></canvas>
          <div id="dom_overlay_container_cancelar" style="pointer-events:none; overflow:hidden; width:100px; height:100px; position: absolute; left: 0px; top: 0px; display: block;">
          </div>
        </div>
      </a>

    </div>
  </div>

</div>

<!-- busca de endereço mobile -->
<div class="col-xs-12 visible-xs">
  <div class="slider carousel_slick_banner">
    <div style="background-color:#FEF200;">
      <a href="/collections/all">
        <div id="animation_container_sm" style="background-color:#FEF200; width:100px; height:100px">
      		<canvas id="canvas_sm" width="100" height="100" style="position: absolute; display: block; background-color:#FEF200;"></canvas>
      		<div id="dom_overlay_container_sm" style="pointer-events:none; overflow:hidden; width:100px; height:100px; position: absolute; left: 0px; top: 0px; display: block;">
      		</div>
      	</div>
      </a>
    </div>
    <div style="background-color:#00AEEF;">
      <a href="/collections/all">
        <div id="animation_container_vm" style="background-color:#00AEEF; width:100px; height:100px">
      		<canvas id="canvas_vm" width="100" height="100" style="position: absolute; display: block; background-color:#00AEEF;"></canvas>
      		<div id="dom_overlay_container_vm" style="pointer-events:none; overflow:hidden; width:100px; height:100px; position: absolute; left: 0px; top: 0px; display: block;">
      		</div>
      	</div>
      </a>
    </div>
    <div style="background-color:#1F396C;">
      <a href="/collections/all">
        <div id="animation_container_cm" style="background-color:#1F396C; width:100px; height:100px">
      		<canvas id="canvas_cm" width="100" height="100" style="position: absolute; display: block; background-color:#1F396C;"></canvas>
      		<div id="dom_overlay_container_cm" style="pointer-events:none; overflow:hidden; width:100px; height:100px; position: absolute; left: 0px; top: 0px; display: block;">
      		</div>
      	</div>
      </a>
    </div>
  </div>
</div>
<!-- fim busca de endereço mobile -->
<!-- passos dica -->
<div class="col-xs-12 con_assinatura visible-xs" style="padding:15px;">
  <div class="col-xs-12 c_l_blue align_c f32 margin_b_50">Veja como é simples fazer<br /> sua assinatura.</div>
  <div class="col-xs-12 list_a c_666">
    <div class="content_caroussel">
      <div class="veja-mobile-list">
        <div class="margin_p_10 padding_20 veja-box text-center">
          <div class="super_n_mobile text-center">1</div>
          Você pode escolher os seus produtos favoritos e montar o seu kit.
        </div>
        <div class="margin_p_10 padding_20 veja-box text-center">
          <div class="super_n_mobile text-center">2</div>
          Escolha as frequências.
        </div>
        <div class="margin_p_10 padding_20 veja-box text-center">
          <div class="super_n_mobile text-center">3</div>
          Faça seu cadastro.
        </div>
        <div class="margin_p_10 padding_20 veja-box text-center">
          <div class="super_n_mobile text-center">4</div>
          Pronto! Agora é só esperar e abrir espaço na sua geladeira.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fim passos dica -->

<a name="comoFunciona"></a>
<div class="col-xs-12 align_c c_l_blue bg_f5f5f5 hidden-xs">
	<div class="t_a col-12">
		<div>
			<div class="f32 margin_b_30">Assine o Sempre em Casa e aproveite todas as vantagens!</div>
			<div class="col-12 rol-v">
				<div class="row">
					<div class="col-6 col-sm-3">
						<img class="img-responsive" alt="" src="{{ 'c-preco.png' | asset_url }}">
					</div>
					<div class="col-6 col-sm-3">
						<img class="img-responsive" alt="" src="{{ 'c-frete.png' | asset_url }}">
					</div>
					<div class="col-6 col-sm-3">
						<img class="img-responsive" alt="" src="{{ 'c-assinatura.png' | asset_url }}">
					</div>
					<div class="col-6 col-sm-3">
						<img class="img-responsive" alt="" src="{{ 'c-produto.png' | asset_url }}">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12 con_assinatura hidden-xs">
  <div class="col-xs-12 c_l_blue align_c f32 margin_b_50">Veja como é simples fazer sua assinatura.</div>
  <div class="col-xs-12 list_a c_666">
		<div class="col-xs-12 col-sm-6 col-md-3"> <div class="margin_p_10"><div class="super_n left">1</div>Consulte a lista de produtos Ambev disponível e em seguida, adicione os produtos ao carrinho.</div></div>
    <div class="col-xs-12 col-sm-6 col-md-3"> <div class="margin_p_10"><div class="super_n left">2</div>Escolha o intervalo entre as entregas em seguida e finalize sua compra.</div></div>
    <div class="col-xs-12 col-sm-6 col-md-3"> <div class="margin_p_10"><div class="super_n left">3</div>Faça seu cadastro em nosso site de maneira prática e rápida.</div></div>
    <div class="col-xs-12 col-sm-6 col-md-3"> <div class="margin_p_10"><div class="super_n left">4</div>Pronto! A sua assinatura foi realizada. Sua primeira entrega será feita em 7 dias e depois seguirá o intervalo que você escolheu.</div></div>
  </div>
</div>

<div class="modal fade modalCep">
  <div class="modal-dialog modal-lg">
    <div class="modal-content modal_ass">
			<div class="container-fluid">
				<div class"row">
					<img src="{{ 'icone_mapa.png' | asset_url }}" class="img-responsive margin_auto">
					<p class="f20 lato_black c_blue align_c">Ainda não atendemos o seu bairro. Por favor, preencha seus dados abaixo que entraremos em contato assim que chegarmos ao seu bairro.</p>
				</div>
				<div class="row container_central_modal">
				<form id="confirmar_dados" class="form w_full">
						<div class="row">
							<div class="col-12">
									<input type="text" name="nome" placeholder="Nome" class="form-control" required="required">
							</div>
							<div class="col-12">
									<input type="text" name="tel" placeholder="E-mail" class="form-control" required="required">
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-6">
								<label class="label_form">Telefone</label>
								<label id="tel-label">
								<input type="text" class="telefone" id="telefone" name="telefone"  value="" placeholder="(00) 0000-0000 " required />
									<span class="unit"><img src="{{ 'icon_bandeira.jpg' | asset_url }}"> +55</span>
								</label>
							</div>
							<div class="col-12 align_r">
								<a class="btn " data-dismiss="modal" aria-label="Close">Cancelar</a>
								<input type="submit" class="btn l_blue" value="Me Avise" />
							</div>
						</div>
					</form>
				</div>
			</div>
    </div>
  </div>
</div>

<div class="modal fade modalCepSugestion">
	<div class="modal-dialog modal-lg">
		<div class="modal-content modal_ass">
			<div class="container-fluid">
				<div class="row">
					<p class="f20 lato_black c_blue align_c padding_t_40 w_full">
						Tente digitar seu endereço novamente e assim que a sugestão correta surgir clique sobre ela para que possamos entender melhor.
					</p>
				</div>
				<div class="row justify-content-center">
					<div class="align_c">
						<a class="btn margin_r_20 l_blue margin_t_10 upper" data-dismiss="modal" aria-label="Close" >Ok</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
